.cross{
      align-self: flex-end  !important;
      width: 2rem;
      margin: 1rem;
}

.cross :hover{
      cursor: pointer;
}

.content{
      text-align: left !important;
      margin: 2rem !important;
}


