.updateC {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
.updateHeading {
	color: var(--dark-blue);
	margin-top: 3rem;
	font-family: 'Domine-Bold';
	/* font-weight: bold; */
	font-size: 3.5vw;
}

.inup {
	font-size: 1.2vw;
}

@media only screen and (max-width: 720px) {
	.inup {
		font-size: 14px;
	}
	.updateHeading {
		font-size: 40px;
	}
	.updateC {
		margin-top: 1rem;
	}
}
