
.cross{
    width: 2rem;
    margin: 0.5rem 0.5rem 0 0;
    justify-self: flex-end;
}
.upcoming{
    width: 17rem;
    margin: 3rem 3rem 1rem 1rem;
}
.upce-content{
    display: flex;
    align-items: center;
    font-size: 70px;
}