.App{
  position: relative;
  background-color: var(--white-bgcolor) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Karla:wght@400;500;700&family=Montserrat:wght@500&display=swap");
:root {
  --white-bgcolor: #f5f3f4;
  --light-blue: #bdd5ea;
  --blue: #22577a;
  --dark-blue: #003049;
  --light-orange: #ffd69a;
  --orange: #f9a72a;
  --opaque-blue: rgb(189,213,234, 0.9)
}
